body {
  background-color: rgb(206, 206, 206);
}

.channel {
  border-radius: 20px;
  padding: 20px;
  width: 90%;
}

div,
audio {
  margin: 20px;
}

h2 {
  color: white;
}

img {
  width: 100px;
  height: 100px;
  padding: 30px;
}
