body {
  background-color: rgb(206, 206, 206);
}

.channel {
  display: flex;
  border-radius: 20px;
  padding: 30px;
  width: 90%;
  height: 150px;
}

div,
audio {
  margin: 20px;
}

audio {
  width: 60%;
}

h2 {
  color: white;
}

img {
  width: 150px;
  height: 150px;
}
